<!--<div class="container mt-5">-->
<!--    <h2 style="font-family: 'Segoe Fluent Icons',serif;-->
<!--    color: #C2B3B0;-->
<!--    text-align: center;">Let's start analyze your skin.</h2>-->
<!--    <div class="col-md-12 webcam-container">-->
<!--        <webcam-->
<!--                [trigger]="invokeObservable"-->
<!--                (imageCapture)="captureImg($event)"-->
<!--        ></webcam>-->
<!--    </div>-->
<!--    <div class="col-md-12" style="display: flex; justify-content: center">-->
<!--        <button class="btn  capture-button" (click)="getSnapshot()">-->
<!--            Capture Image-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->
