<nav class="main-header navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">GlowUp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav-list navbar-nav mr-auto" *ngIf="user">
            <li>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/capture" routerLinkActive="active">Analyze Your Skin</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/chat-box" routerLinkActive="active">Chat With GlowUp</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/comments" routerLinkActive="active">Comments</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
            </li>
            <li class="nav-item" *ngIf="showAdminBoard">
                <a class="nav-link" routerLink="/admin/comments" routerLinkActive="active">Admin Board</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign Up</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item dropdown" *ngIf="user">
                <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img [src]="user.avatarUrl" alt="{{ user.name }}'in avatarı" class="avatar">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">Profile</a>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" (click)="logout()">Logout</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
