<div class="container">
    <div class="row my-5">
        <div class="col-4 justify-content-center align-content-center text-center mt-5">
            <h1>Daily, monthly, and self-care routines</h1>
            <p>NLP powered and ML powered with continual improvement, enjoy self-renewing.</p>
            <button class="btn btn-primary mb-4 glowup-path-btn">USE GLOWUP</button>
            <div class="row">
                <div class="col-4">
                    <div class="icon-container justify-content-center align-content-center">
                        <div class="icon-circle" style="background: #F5DDDD">
                            <img src="assets/home-page-icons/analyis-icon.png" alt="WeNP"
                                 class="img-fluid home-page-icons">
                        </div>
                        <p class="icon-title">ANALYSIS YOUR SKIN</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon-container">
                        <div class="icon-circle" style="background:#F5DDDD ">
                            <img src="assets/home-page-icons/skin-care.png" alt="WeNP"
                                 class="img-fluid home-page-icons">
                        </div>
                        <p class="icon-title">CREATE YOUR ROUTINE</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon-container">
                        <div class="icon-circle" style="background:#C2B2B4 ">
                            <img src="assets/home-page-icons/shopping-card.png" alt="WeNP"
                                 class="img-fluid home-page-icons">
                        </div>
                        <p class="icon-title">GET ADVICES</p>
                    </div>
                </div>
            </div>


            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
        <div class="col-4 justify-content-center align-content-center mt-5">
            <img src="assets/home-page-img/aı-man.png" alt="ai-man" class="img-fluid">
        </div>
        <div class="col-4 mt-5">
            <div class="moving-circles">
                <div *ngFor="let image of images; let i = index" [ngStyle]="{'animation-delay': i + 's'}"
                     class="circle">
                    <img [src]="image" alt="Profile Image">
                </div>
            </div>
            <div class="changing-text mt-4">
                <p>{{ currentText }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="animated-divider-container mt-5">
            <div class="animated-divider"></div>
        </div>
    </div>
    <div class="row mt-5 skin-analysis-section">
        <div class="col-md-6">
            <h2>Discover Your Skin Type</h2>
            <p>
                Take a photo and get an in-depth analysis of your skin type.
                Our advanced AI technology will analyze your skin and provide personalized recommendations
                to help you achieve your skincare goals.
            </p>
            <p>
                Whether you have oily, dry, combination, or sensitive skin, our technology can detect
                and identify your specific skin concerns. Get tailored advice and product suggestions that
                cater to your unique skin needs.
            </p>

        </div>
        <div class="col-md-6 justify-content-center d-flex">
            <img src="assets/home-page-img/skincare-with-laser-dots.webp" alt="Skincare treatment with laser dots"
                 class="animated-laser-dots"/>
        </div>
    </div>

    <div class="row my-4 skin-analysis-section ">
        <div class="col-md-6 ">
            <img src="assets/home-page-img/skincare-img-ai-version.webp" alt="Skincare treatment with laser dots"
                 class="animated-laser-dots"/>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">

            <p class="mt-5">
                Join thousands of satisfied users who have transformed their skin with our
                cutting-edge analysis. Unlock the secrets to healthier, radiant skin today!
            </p>
            <div class="attention-grabber justify-content-center">
                <i class="fas fa-exclamation-circle"></i>
                <span>Haven't you analyzed your skin type yet? </span>

            </div>

            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary mb-4 glowup-path-btn">CLICK HERE!</button>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="animated-divider-container mt-5">
            <div class="animated-divider"></div>
        </div>
    </div>

<!--    BURASI AYRI COMPONENT OLARAK YAPILCAK-->
    <div class="contact-us">

    </div>


</div>
