<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <div class="card login-card">
                <div class="card-body">
                    <div class="profile-img-container text-center">
                        <img
                                id="profile-img"
                                src="assets/avatar_icon.jpg"
                                class="profile-img-card"
                        />
                    </div>
                    <form
                            name="form"
                            (ngSubmit)="f.form.valid && onSubmit()"
                            #f="ngForm"
                            novalidate
                    >
                        <div class="form-group">
                            <label for="username" class="sr-only">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="username"
                                        name="username"
                                        [(ngModel)]="form.username"
                                        placeholder="Username"
                                        required
                                        #username="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
                                />
                                <div *ngIf="username.errors && f.submitted" class="invalid-feedback">Username is required!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        [(ngModel)]="form.password"
                                        placeholder="Password"
                                        required
                                        minlength="6"
                                        #password="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                                />
                                <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                                    <div *ngIf="password.errors['required']">Password is required</div>
                                    <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe" />
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <button class="btn btn-primary btn-block">Login</button>
                        <div class="d-flex justify-content-between mt-2">
                            <a href="#" class="text-forgot-password">Forgot Password?</a>
                        </div>
                        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger mt-3" role="alert">
                            Login failed: {{ errorMessage }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
